:root {


    /* ----------------- COLORES MODO CLARO ----------------- */
    --textoSimple-claro: #000000;
    --fondoBASE-claro: #d2c4c4;
    --color1-claro: #969696;
    --color2-claro: #dddddd;
    --color3-claro: #a2d246;
    --color4-claro: #5b9c00;
    --color5-claro: #111111;
    --color6-claro: #000000;
    /* ----------------- FIN COLORES MODO CLARO ----------------- */


    
    /* ----------------- COLORES MODO OSCURO ----------------- */
    --textoSimple-oscuro: #ffffff;
    --fondoBASE-oscuro: #1d1d1d;
    --color1-oscuro: #222323;
    --color2-oscuro: #3f3f3f;
    --color3-oscuro: #699b2a;
    --color4-oscuro: #8bcb36;
    --color5-oscuro: #efeeee;
    --color6-oscuro: #fbfaff;
    /* ----------------- FIN COLORES MODO OSCURO ----------------- */


    
    /* ----------------- COLORES POR DEFECTO ----------------- */
    --textoSimple: var(--textoSimple-claro);
    --fondoBASE: var(--fondoBASE-claro);
    --color1: var(--color1-claro);
    --color2: var(--color2-claro);
    --color3: var(--color3-claro);
    --color4: var(--color4-claro);
    --color5: var(--color5-claro);
    --color6: var(--color6-claro);
    /* ----------------- FIN COLORES POR DEFECTO ----------------- */
}


/* ----------------- ESTILOS SEGÚN EL MODO ----------------- */
[data-modo="claro"] {
    --fondo-base: var(--fondo-base-claro);
    --negro: var(--negro-claro);
    --textoSimple: var(--textoSimple-claro);
    --fondoBASE: var(--fondoBASE-claro);
    --color1: var(--color1-claro);
    --color2: var(--color2-claro);
    --color3: var(--color3-claro);
    --color4: var(--color4-claro);
    --color5: var(--color5-claro);
    --color6: var(--color6-claro);
}

[data-modo="oscuro"] {
    --fondo-base: var(--fondo-base-oscuro);
    --negro: var(--negro-oscuro);
    --textoSimple: var(--textoSimple-oscuro);
    --fondoBASE: var(--fondoBASE-oscuro);
    --color1: var(--color1-oscuro);
    --color2: var(--color2-oscuro);
    --color3: var(--color3-oscuro);
    --color4: var(--color4-oscuro);
    --color5: var(--color5-oscuro);
    --color6: var(--color6-oscuro);
}

/* ----------------- FIN ESTILOS SEGÚN EL MODO ----------------- */