#inter-Regular

:root {
  --fuente-principal: 'Orbitron', arial;
  --fuente-secundaria: 'Raleway', arial;
  font-size: 16px;
}


body {

  font-family: var(--fuente-secundaria);

  line-height: 1.4em;

}