.all{
    background-color: var(--color1);
}

.header{
    background-color: var(--color3);
}

.aside{
    background-color: var(--color1);
    color: var(--color6);
}

.aside_menu{
    background-image: linear-gradient(to bottom, var(--color1) 5%,var(--color2) 20%);
    color: var(--color6);
    
}


.form_search{
    background-color: var(--color6);
    color: var(--color1);
}

#textarea_search{
font-size: 0.7rem;
text-align: center;
}


.main{
    background-color: var(--color2);
    color: var(--color6);
}

.banner{
    background-image: linear-gradient(to bottom, var(--color3) 20%,var(--color2) 90%);
}

/* .container{
} */
